/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.idea/
var/cache/.gitkeep
none
php~
*.php~
/node_modules/
node_modules/bluebird/js/
node_modules/dateformat/lib/
node_modules/deprecated/test/
node_modules/duplexer2/test/
node_modules/flagged-respawn/lib/
node_modules/globule/node_modules/minimatch/test/
node_modules/gulp-util/lib/
node_modules/gulp/bin/
node_modules/lru-cache/test/
node_modules/minimist/test/
node_modules/replace-ext/test/
node_modules/resolve/test/dotdot/
node_modules/resolve/test/module_dir/xmodules/
node_modules/resolve/test/module_dir/ymodules/
node_modules/resolve/test/node_path/
node_modules/resolve/test/precedence/
node_modules/resolve/test/resolver/other_path/
node_modules/resolve/test/resolver/quux/
node_modules/resolve/test/resolver/without_basedir/
node_modules/through2/node_modules/readable-stream/lib/
src/MainBundle/Resources/public/
var/cache/
fonts/
