{% extends "BlogBundle::layout.html.twig" %}
{% block page_title %}About Us{% endblock %}
{% block content %}
    </article>
        <div class="container blog-container">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at blanditiis culpa, cum, cumque dicta dolorum et eum excepturi fugiat fugit magni nemo nisi non officia, sint sit tenetur veritatis!</p>
        </div>
    <article>
{% endblock %}
