{% extends 'MainBundle:Layout:layout.html.twig' %}

{% import 'MainBundle:Template:macroses.html.twig' as macroses %}

{% block body %}
    <h3>Восстановление пароля</h3>
    <p>Пожалуйста, введите ваш номер телефона. Если такой номер зарегистрирован в системе, то на него будет выслано СМС с новым паролем.</p>

    {{ form_start(form) }}
    {{ macroses.text_field(form.phone_number) }}
    {{ macroses.button_field(form.submit) }}
    {{ form_end(form) }}
{% endblock %}
