{% extends 'MainBundle:Layout:layout.html.twig' %}

{% import 'MainBundle:Template:macroses.html.twig' as macroses %}

{% block body %}
    <h3>Вход</h3>

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post" id="form_login">
        <div class="field_item">
            <label for="username">Логин:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>

        <div class="field_item">
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="_password" autocomplete="off" />
        </div>

        <div class="field_item">
            <button type="submit" class="btn btn-primary">Войти</button>
            <a href="{{ path('forgot_password') }}" class="btn btn-warning">Забыли пароль?</a>
        </div>
    </form>
{% endblock %}
