{% if app.user %}

    <span class="user_info">Вы вошли как <b>{{ app.user.username }}</b></span>
    <a class="btn btn-lg btn-danger" href="{{ path('logout') }}">Выход</a>
{% else %}

    <div class="btn-group">
        <a class="btn btn-lg btn-success" href="{{ path('login') }}">Вход</a>
        <a class="btn btn-lg btn-info" href="{{ path('registration') }}">Регистрация</a>
    </div>
{% endif %}

{#<div class="clear"></div>#}
