{% extends "::page.html.twig" %}
{#{% block body %}#}
    {% block main_menu %}
        <div class="main-menu" id="menu_main_menu">
            <div class="type-menu">
                <ul>
                    <li><a href="{{ path("homepage") }}">Главная</a>
                    <li><a href="{{ path("admin_blog") }}">Блоги</a></li>
                    {#<li><a href="{{ path("blog_about_us") }}">Про нас</a></li>#}
                </ul>
            </div>
        </div>
    {% endblock %}
{#Модифицируем main#}
    {% block main %}

    {% endblock %}


{#{% endblock %}#}