{% extends "::page.html.twig" %}
{% block page_title %}
    {#<div class="page_title" id="page_title">#}
    <h1>{{ blog.title }}</h1>
    {#</div>#}
{% endblock %}
{% block main %}
{#Резюме#}
    <article class="blog">
        <div class="container blog-container">
            <div class="field field-created">
                {{ blog.created|date("d-m-Y H:m") }}
            </div>
            {{ dump(blog.body) }}
            <div class="field field-body">
                <p>
                    {{ blog.body|raw }}
                </p>
            </div>
        </div>
    </article>
{% endblock %}